# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Vim temporary files
.*.sw*

# misc
outdated/
perf-test.py
*.prof
*.so
.ycm_extra_conf.py

# example
/examples/example_local.yaml
/examples/openai_chat_completion_client_local.py

# example output
/examples/offline_inference/offline_inference_outputs.jsonl
/examples/save_decode_cache/offline_inference_outputs.jsonl
/examples/offline_inference/buggy_example.py
/examples/test_example

# disk cache
/remote_disk
/local_disk
/tests/local_disk
/tests/remote_disk
*.pt

# random scripts
/misc_scripts

# nvtx profile report
*.nsys-rep
*.sqlite

# docs/build
/docs/build/
/docs/build.sh
/docs/output/

/try

values-*.yaml
helm/examples

# version files
src/vllm_router/_version.py

/tutorials/assets/private.yaml


# terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# google cloud platform
credentials.json
