name: Lint vLLM Stack Helm Charts

on:
  pull_request:
    paths:
      - "helm/**"
  push:
    paths:
      - "helm/**"

jobs:
  lint-chart:
    name: Lint Helm Chart
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Lint open-webui Helm Chart
        run: |
          helm lint ./helm

